#!/bin/sh -e

# Source debconf library
. /usr/share/debconf/confmodule

KCONFIG="/boot/config-$(uname -r)"

if ! [ -r "$KCONFIG" ]; then
	echo "WARNING: Could not find your Kernel config." 1>&2
	db_input critical zfs-dkms/stop-build-for-unknown-kernel || true
	db_go
	db_get zfs-dkms/stop-build-for-unknown-kernel
	if [ "$RET" = "true" ]; then
		echo "Ok, aborting, since ZFS is not designed for 32-bit kernels." 1>&2
		exit 1
	else
		echo "WARNING: Building ZFS module on an unknown kernel." 1>&2
	fi
elif ! grep -q 'CONFIG_64BIT=y' "$KCONFIG"; then
	db_input critical zfs-dkms/stop-build-for-32bit-kernel || true
	db_go
	db_get zfs-dkms/stop-build-for-32bit-kernel
	if [ "$RET" = "true" ]; then
		echo "Ok, aborting, since ZFS is not designed for 32-bit kernels." 1>&2
		exit 1
	else
		echo "WARNING: Building ZFS module on a 32-bit kernel." 1>&2
	fi
fi

#DEBHELPER#
